{
    "endOfLine": "lf",
    "semi": false,
    "singleQuote": false,
    "tabWidth": 4,
    "trailingComma": "es5",
    "printWidth": 120,
    "importOrder": [
        "^(react/(.*)$)|^(react$)",
        "^(next/(.*)$)|^(next$)",
        "<THIRD_PARTY_MODULES>",
        "",
        "^@workspace/(.*)$",
        "",
        "^@/(.*)$",
        "",
        "^[./]"
    ],
    "importOrderParserPlugins": ["typescript", "jsx", "decorators-legacy"],
    "plugins": ["@ianvs/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
    "tailwindStylesheet": "packages/ui-shared/src/styles/globals.css",
    "tailwindFunctions": ["cn", "cva"],
    "overrides": [
        {
            "files": ["*.json", "*.jsonc"],
            "options": {
                "trailingComma": "none"
            }
        }
    ]
}
